!!!
%html
  %head
    %title IdeaBox
    %body
      %h1 IdeaBox

      %form{ :action => "/#{id}", :method => 'POST'}
        %p Edit Your Idea:
        %input{ :type => 'hidden', :name => '_method', :value => 'PUT'}
        %input{ :type => 'text', :name => 'idea[title]', :value => "#{idea.title}"}
        %br
        %textarea{ :name => 'idea[description]' } #{idea.description}
        %br
        %input{ :type => 'submit'}

