%form{ :action => "/#{id if mode == "edit"}", :method => 'POST'}
  %p Your Idea:
  -if mode == "edit"
    %input{:type => "hidden", :name => "_method", :value => "PUT"}
  %input{ :type => 'text', :name => 'idea[title]', :value => "#{idea.title}"}
  %br
  %textarea{ :name => 'idea[description]'} #{idea.description}
  %br
  %input{ :type => 'submit'}

